.remove__btn {
  position: relative;
  left: 21.5rem;
  top: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
.empty__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  color: gray;
}
