.bottom__navbar__container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	background-color: rgba(32, 32, 32, 1);
	padding: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
}
.bottom__navbar__route {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	gap: 0.2rem;
}
