.search__bar {
	position: relative;
	background: var(--primary-color);
}

.search__bar .search__input {
	padding: 0.5rem;
	padding-left: 1.2rem;
	border: 1px solid var(--tertiary-color);
	border-radius: 2px;
	width: 18rem;
}

.search__bar .search__input:focus {
	outline: var(--tertiary-color-shade-1);
}

@media (max-width: 648px) {
	.search__bar .search__input {
		width: 13rem;
	}
}
