#login__btn__outlined {
  border-color: black;
  color: black;
  cursor: pointer;
  background-color: white;
  padding: 0.5rem;
}
#login__btn__outlined:hover {
  color: white;
  background-color: black;
}
