@import url('https://metal-ui.netlify.app/components/components.css');
.video__player {
  height: 100%;
}
/* .video__responsive {
  height: 100%;
} */
/* .youtube__player {
  position: relative;
  padding-top: 56.25%;
}
.y__player {
  position: absolute;
  top: 0;
  left: 0;
} */
.y__player {
  width: 100%;
  height: 300px;
}
.video__route {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.video__route:hover {
  color: red;
}
.video__item {
  text-align: left;
}
.video__item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.video__item p {
  color: gray;
}

.like__btn {
  display: flex;
  cursor: pointer;
  gap: 1rem;
  align-items: center;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 0.5rem;
}
.playlist__btn {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    padding-top: 0.5rem;
  }
  .y__player {
    width: 850px;
    height: 550px;
  }
}
